<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <!-- ესაა სურათის სექცია-->
            <div class="profile-img">
                <img src="../assets/images/Croco.jpg" alt="img" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    <!-- აქ ვახდენ username-ის ბაინდინგს -->
                    {{userInfo?.username}}
                </h5>
                <h6>
                    <!-- აქ ვახდენ website-ის ბაინდინგს -->
                    {{userInfo?.website}}
                </h6>
                <p class="proile-rating">phone : <span>{{userInfo?.phone}}</span></p>
                <ul class="nav nav-tabs d-flex justify-content-between" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <button class="btn btn-primary" (click)="onPostsClick()">My Posts</button>
                    </li>
                    <li>
                        <button (click)="onUsersClick()" class="btn btn-warning">users</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- ესაა მომხმარებლის ადრესის აღწერა რომელიც არის მარცხენა კუთხეში განლაგებული გამოყენებულია bootstrap-ის კლასები -->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>Address</p>

                <span>street : {{userInfo?.address?.street}}</span> <br/>
                <span>suite : {{userInfo?.address?.suite}}</span><br/>
                <span>city : {{userInfo?.address?.city}}</span><br>
                <span>zipcode : {{userInfo?.address?.zipcode}}</span>

                <p>geo</p>
                <span>lat : {{userInfo?.address?.geo?.lat}}</span><br/>
                <span>lng : {{userInfo?.address?.geo?.lng}}</span>
            </div>
        </div>

        <!-- აქაც გამოყენებულია bootstrap-ის კლასები ესაა მთავარი ინფორმაცია მომხმარებლის შესახებ, რასაც დინამიურად გადაეცემა მომხმარებლის ინფორმაცია-->
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.phone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>website</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.website}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>company name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.company?.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>catchPhrase</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.company?.catchPhrase}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>bs</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{userInfo?.company?.bs}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>